.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 10%;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
    }
}