.main__goods-ul-li-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 25px;
  gap: 10px;
}

.main__goods-ul-li-article h3, .main__goods-ul-li-article p {
  margin: 0;
}

/* .main__goods-ul-li-article:not(:last-of-type) {
  border-right: 1px solid black;

} */

.article__img {
  width: 100%;
  border-radius: 9px;
  /* border-right: 2px solid black; */
}