.main__goods-ul-li-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  box-shadow: 1px 1px 30px #b3b0b0;
  border-radius: 9px;
  padding: 10px 10px 30px 10px;
  position: relative;
}

.main__goods-ul-li-article-pics {
  position: relative;
  width: 100%;
}

.main__goods-ul-li-article-designer {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50px;
  border-radius: 50%;
}

.main__goods-ul-li-article h3, .main__goods-ul-li-article p {
  margin: 0;
}

.main__goods-ul-li-article-img {
  width: 100%;
  border-radius: 9px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.main__goods-ul-li-article-text {
  display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin: 25px 0 0 0;
    box-sizing: border-box;
    padding: 0 25px;
}

.main__goods-ul-li-article-text-main {
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main__goods-ul-li-article-text-main-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.main__goods-ul-li-article-text-main-author-name {
  line-height: 1;
  color: #9c9c9c;
  font-size: 16px;
  /* font-weight: 700; */
}

.main__goods-ul-li-article-text-main-author-pic {
  max-width: 35px;
  border-radius: 50%;
}

.main__goods-ul-li-article-text-designer {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.main__goods-ul-li-article-text-designer h3 {
  line-height: 1;
}

.main__goods-ul-li-article-text-designer img {
  max-width: 35px;
  border-radius: 50%;
}

.main__goods-ul-li-article-text-designer-div {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: 5px;
  /* width: 100%; */
}

.svg-arrow {
  rotate: -45deg;
}

.main__goods-ul-li-article-stock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  align-self: flex-start;
  height: 35px;
}

.main__goods-ul-li-article-stock-sign {
  width: 10px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  translate: 0 1px;
}

.main__goods-ul-li-article-stock-sign {
  background-color: #21f958;
  box-shadow: 0 0 5px #21f958, 0 0 5px #21f958;
}

.main__goods-ul-li-article-stock-sign_red {
  background-color: #f2030e;
  box-shadow: 0 0 5px #f2030e, 0 0 5px #f2030e;
}

.main__goods-ul-li-article-btn {
  align-self: stretch;
  /* background-color: #d1fc8a; */
  background-color: #a6f46a;
  margin: 25px 0 0 0;
}