.header {
  /* display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
  box-sizing: border-box;
    padding: 10px 0; */
}

.header__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 0;
}

.header p, .header ul {
  padding: 0;
  margin: 0;
}

.header__p {
  /* font-weight: 700; */
  line-height: 1;
  letter-spacing: 3px;
  font-size: 36px;
  font-family: "Barlow", sans-serif;
  /* font-family: "Prata", serif; */
}

.header__ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.header__ul-li-btn {
  /* min-width: 120px; */
  box-sizing: border-box;
  padding: 10px 5px;
  background-color: transparent;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
  color: black;
}

.header__ul-li-btn-svg {
  font-size: 30px;
}

.header__ul-li-btn-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}

@media screen and (max-width: 1279px) {
  .header__wrapper {
    align-items: center;
  }
  .header__p {
    font-size: 24px;
  }
  .header__ul {
    gap: 5px;
  }
  .header__ul-li-btn-svg {
    font-size: 18px;
  }
  .header__ul p {
    font-size: 16px;
  }
}