.header {
  /* display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
  box-sizing: border-box;
    padding: 10px 0; */
}

.header__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 0;
}

.header p, .header ul {
  padding: 0;
  margin: 0;
}

.header__p {
  /* font-weight: 700; */
  line-height: 1;
  letter-spacing: 3px;
  font-size: 36px;
  font-family: "Barlow", sans-serif;
  /* font-family: "Prata", serif; */
}

.header__ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.header__ul-li-btn {
  /* min-width: 120px; */
  box-sizing: border-box;
  padding: 10px 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: black;
}

.header__ul-li-btn-svg {
  font-size: 30px;
}

.header__ul-li-btn-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}

.header__button {
  display: none;
}

@media screen and (max-width: 1279px) {
  .header__wrapper {
    align-items: center;
  }
  .header__p {
    font-size: 24px;
  }
  .header__ul {
    gap: 5px;
  }
  .header__ul-li-btn-svg {
    font-size: 18px;
  }
  .header__ul p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .header__p {
    font-size: 18px;
  }
  .header__ul {
    gap: 0px;
  }
  .header__ul-li-btn {
    padding: 10px 4px;
  } 
  .header__ul p {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .header nav {
    display: none;
  }
  .header__button {
    display: block;
  }
  .header__ul {
    display: inline-flex;
    align-items: stretch;
    margin: 0 auto;
    flex-direction: column;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
  }
  .sidebar div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar nav {
    display: flex;
    margin: auto 0;
  }
}