.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
  box-sizing: border-box;
    padding: 10px 10%;
}

.header p, .header ul {
  padding: 0;
  margin: 0;
}

.header-p {
  /* font-weight: 700; */
  letter-spacing: 3px;
  font-size: 36px;
  font-family: "Barlow", sans-serif;
  /* font-family: "Prata", serif; */
}

.header__ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.header__ul-li-btn {
  /* min-width: 120px; */
  box-sizing: border-box;
  padding: 10px 5px;
}

.header__ul-li-btn-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}