.main {
    position: relative;
}

.main__links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    gap: 15px;
    margin: 0;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 15px;
}

.main__links li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.main__links-link {
    font-size: 24px;
    color: black;
}

@media screen and (max-width: 767px) {
    .main__links {
        display: none;
    }
}